<h1> List Of All Past Debts </h1>

<div class="hero-unit">
  <% if @debts.empty? %>
    There are no past debts yet
  <% end %>
  <ul>
    <% @debts.each do |debt| %>
      <li> 
        <strike>
          <%= link_to(name_of(debt.peasant), '#') %>
          owed
          <%= link_to(name_of(debt.lord), '#') %>
          <%= number_to_currency(debt.amount) %> for <%= debt.reason %>
        </strike>
        <small> Paid on <%= debt.updated_at.to_date %> </small>
      </li>
    <% end %>
  </ul>
</div>
