<h1> List Of All Past Debts </h1>

<div class="hero-unit">
  <% if @debts.empty? %>
    There are no past debts yet
  <% end %>
  <table>
    <% @debts.each do |debt| %>
      <tr>
        <td class="span8">
          <!--strike-->
            <%= link_to(name_of(debt.peasant), {:controller => 'users', :action => 'profile', :id => debt.peasant.id}) %>
            paid
            <%= link_to(name_of(debt.lord), {:controller => 'users', :action => 'profile', :id => debt.lord.id}) %>
            <%= number_to_currency(debt.amount) %> for <%= debt.reason %>
          <!--/strike-->
        </td>
        <td>
          <small> Paid on <%= debt.updated_at.to_date %> </small>
        </td>
      </tr>
    <% end %>
  </table>
</div>
