<h1> List Of All Current Debts </h1>

<div class="hero-unit">
  <table>
    <% @debts.each do |debt| %>
      <tr>
        <td> 
          <%= link_to(name_of(debt.peasant), '#') %>
          owes 
          <%= link_to(name_of(debt.lord), '#') %>
          $<%= debt.amount %> for <%= debt.reason %>
        </td>
        <td>
          <%= link_to('Pay', {action: :history, pay: true, id: debt.id}, class: 'btn btn-danger') %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
