<h1> List Of All Current Debts </h1>
<% if @debts.empty? %>
  There are no debts yet...
<% end %>
<div class="hero-unit">
  <div class="container">
    <table>
      <% @debts.each do |debt| %>
        <tr>
          <td class="span8"> 
            <%= link_to(name_of(debt.peasant), {:controller => 'users', :action => 'profile', :id => debt.peasant.id}) %>
            owes 
            <%= link_to(name_of(debt.lord), {:controller => 'users', :action => 'profile', :id => debt.lord.id}) %>
            for <%= debt.reason %>
            <ul>
              <li> Debt created on <%= debt.created_at.strftime("%B, %d, %Y") %> </li>
            </ul>
          </td>
          <td>
            <%= number_to_currency(debt.amount) %>
          </td>
          <td>
            <% if current_user == debt.peasant || current_user == debt.lord %>
              <%= link_to('Mark Paid', {action: :history, pay: true, id: debt.id}, class: 'btn btn-danger') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
