<h1> List Of All Current Debts </h1>

<div class="hero-unit">
  <table>
    <% @debts.each do |debt| %>
      <tr>
        <td> 
          <%= link_to(name_of(debt.peasant), '#') %>
          owes 
          <%= link_to(name_of(debt.lord), '#') %>
          <%= number_to_currency(debt.amount) %> for <%= debt.reason %>
        </td>
        <td>
          <% if current_user == debt.peasant || current_user == debt.lord %>
            <%= link_to('Mark as paid', {action: :history, pay: true, id: debt.id}, class: 'btn btn-danger') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
