<%= link_to("Back to Profile", {:action => 'profile', id: current_user.id}, :class => 'back-link') %>

<div class="user name edit">
	<h2> Update Name </h2>

	<%= form_for(:user, :url => {:action => 'update_name'}, id: current_user.id) do |f| %>

	<table summary="Subject form fields">
		<tr>
			<th> <%= f.label(:first_name, "First Name") %> </th>
			<td> <%= f.text_field(:first_name) %> </td>
		</tr>
		<tr>
			<th> <%= f.label(:last_name, "Last Name") %> </th>
			<td> <%= f.text_field(:last_name) %> </td>
		</tr>
	</table>

	<div class="form-buttons">
		<%= submit_tag("Update Name") %>
	</div>

	<%end%>

</div>
