<div class="hero-unit">
	<h3> This is your Profile! </h3>
	<h6> <%= name_of(current_user) %> </h6>
	<div class="row">
		<div class="span3">
			<%= link_to("Change name", :action => 'edit_name') %>
		</div>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <div class="row">
      <div class="span5">
        <h2> Your Debts </h2>
        <% if !@debts.empty? %>
          <h4> These are your debts: </h4>
        <% else %>
          <h4> You have no debts! What a boss...</h4>
        <% end %>
         <table>
          <% @debts.each do |debt| %>
            <tr>
              <td> 
                You owe
                <%= link_to(name_of(debt.lord), '#') %>
                <%= number_to_currency(debt.amount) %> for <%= debt.reason %>
              </td>
              <td>
                <%= link_to('Mark Paid', {controller: :debts, action: :history, pay: true, id: debt.id}, class: 'btn btn-danger') %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="span5">
        <h2> Your Loans </h2>
        <% if !@loans.empty? %>
          <h4> These are your loans: </h4>
        <% else %>
          <h4> You have no loans! Be more generous...</h4>
        <% end %>
         <table>
          <% @loans.each do |loan| %>
            <tr>
              <td> 
                <%= link_to(name_of(loan.peasant), '#') %>
                owes you 
                <%= number_to_currency(loan.amount) %> for <%= loan.reason %>
              </td>
              <td>
                <%= link_to('Mark Paid', {controller: :debts, action: :history, pay: true, id: loan.id}, class: 'btn btn-danger') %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
